.newsletter-popup-container .logo {
    width: 150px !important;
}
.newsletter-popup-container .input-group .btn:hover {
    background-color: #000 !important;
}
.newsletter-popup-container .input-group .btn {
    background-color: #a6c76c !important;
}