.success {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid grey;
    text-align: center;
}
.success h4 {
    font-size: 24px;
}
.pay_img {
    width: 50%;
    margin: 0 auto;
}
.pay_img img {
    width: 100%;
}
#success_page {
    padding: 15px 0 15px 0;
}
.success a {
    padding: 2%;
    background: #a6c76c;
    color: #fff !important;
}