<div class="main shop">
    <molla-page-header [title]="pageTitle" subtitle="Shop"></molla-page-header>
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                   Shop
                </li>
                <li class="breadcrumb-item active">{{ pageTitle }}</li>
                <li class="breadcrumb-item" *ngIf="searchTerm != ''">
                    <span>Search - {{ searchTerm }}</span>
                </li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 skeleton-body sekl-shop-products" [class.loaded]="loaded">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                Showing
                                <span  *ngIf="!lenth1">{{ products.length }} of </span> Products
                                <span *ngIf="lenth1">{{ lenth1 }} of </span> Nutrivillage
                            </div>
                        </div>

                        <!-- <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control"
                                        (change)="changeOrderBy($event)" [value]="orderBy">
                                        <option value="default">Default</option>
                                        <option value="featured">Most Popular</option>
                                        <option value="rating">Most Rated</option>
                                        <option value="new">Date</option>
                                    </select>
                                </div>
                            </div>

                        </div> -->
                    </div>

                    <molla-shop-list-one [type]="type" [products]="products"   [loaded]="loaded"  (getvalue1)="value1($event)">
                    </molla-shop-list-one>

                    <molla-pagination [perPage]="perPage" [total]="totalCount" > 
                    </molla-pagination>
                </div>

                <aside class="col-lg-3 skel-shop-sidebar order-lg-first skeleton-body" [class.loaded]="firstLoad">
                    <div *ngIf="!firstLoad else sidebarLoaded">
                        <div class="skel-widget"></div>
                        <div class="skel-widget"></div>
                        <div class="skel-widget"></div>
                        <div class="skel-widget"></div>
                    </div>
                    <ng-template #sidebarLoaded>
                        <molla-shop-sidebar-one [toggle]="toggle" (vote1)="onVoted2($event)" (vote)="onVoted($event)">
                        </molla-shop-sidebar-one>

                        <button class="sidebar-fixed-toggler" (click)="toggleSidebar()" *ngIf="toggle">
                            <i class="icon-cog"></i>
                        </button>

                        <div class="sidebar-filter-overlay" (click)="hideSidebar()"></div>
                    </ng-template>
                </aside>
            </div>
        </div>
    </div>
</div>