.loader1 {
    position: relative;
    width: 10%;
}
.loader1 img {
    position: absolute;
    bottom: 0;
    width: 100%
}
.product-price{
   margin-left: 9px;
}

.ratings-val:before, .ratings:before {
    margin-left: 9px; 
}