<main class="main">
    <molla-page-header title="Forgot" subtitle="Password"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Forgot Password</li>
            </ol>
        </div>
    </nav>

    <section id="verify_email">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="verify">
                        <h1>Create new password</h1>
                        <p>We'll ask for this password whenever you sign in.</p>
                        <form [formGroup]="changePassword">
                            <div class="col-lg-12 set_alert">
                                <div class="alert alert-danger" *ngIf = "message!='' && error == true" role="alert">{{message}}</div>
                                <div class=" alert alert-success" *ngIf = "message!='' && error != true" role="alert">{{message}}</div>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">New password</label>
                              <input type="password" class="form-control" id="exampleFormControlInput1" formControlName = "newpass" placeholder="New password">
                           
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">confirm password</label>
                                <input type="password" class="form-control" id="exampleFormControlInput1" formControlName = "confirmpass" placeholder="confirm password">
                             
                              </div>
                            <div class="text-center">
                                <button class="btn" (click)="onchangepass()"><i [class.fa-refresh]="loader" class="fa fa-refresh fa-spin"></i>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

</main>


