.btn {
    border: 1px solid;
}
.btn:hover {
    background-color: #a6c76c;
    color: #fff;
}
#contact {
    padding-bottom: 30px;
}
.form_contact {
    width: 50%;
    margin: 0 auto;
}
.detail {
    line-height: 35px;
}
.detail_box {
    padding-top: 50%;
}
.detail li {
    font-weight: 600;
}
.detail span {
    font-weight: 400;
}
.detail_box {
    padding: 5%;
}