<main class="main">
    <molla-page-header title="Privacy" subtitle="Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Shipping Policy</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Shipping Policy of Nutrivillage</h1>
                    <!-- <h4>Cancellation, Return and Refund Policy
                    </h4> -->
                   <p>At Nutrivilage we are committed to delivering your order accurately, in good condition, and always on time promised by our customer care executive or on website or mobile.
                    Below are some more shipping related points:</p>
                    <ul>
                        <li style="font-weight: 100;">Each order would be shipped only to a single destination address specified at the time of payment for that order.</li>
                        <li style="font-weight: 100;">We make our best efforts to ensure that each item in your order is shipped out on the same day of the order date. However in some cases, it may take longer, up to 2 or more working days, to ship the order as the product may have to be procured where there is a heavy demand.
                        </li>
                    </ul>
                </div>
            </div>  
        </div>
    </section>

</main>
