<main class="main">
    <molla-page-header title="Terms &" subtitle="Condition"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">&</li>
                <li class="breadcrumb-item active">Condition</li>

            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Terms & Condition</h1>

                    <h3>
                        1. Terms of Cancellation
                    </h3>
                    <ul>
                        <li>Before an order is dispatched from our warehouse, a user has the authority to cancel it entirely or partially. </li>
                        <li>Order cancellations after they have been dispatched are not accepted.</li>
                    </ul>

                    <h3>
                        2. Terms of Returns and Refunds
                    </h3>
                    <ul>
                        <li>If a User is unsatisfied with a product purchased from Nutrivillage, or if the Product has flaws or inadequacies, or if the product is delivered late, the User may submit a request to return the product through our website. The User shall initiate such requests for a return not later than 7 of receiving your order. 
                        </li>
                        <li>We also accept partial returns wherein User can raise a return request for one or all Products except in case of Bundled Packages</li>
                        <li>Any refunds due will be credited to your account within 3 days of the returns being received. 
                        </li>
                     </ul>

                </div>
            </div>
        </div>
    </section>

</main>
