<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close" (click)="hideMobileMenu()"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search" (submit)="submitSearchForm($event)">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul ngbNav #nav="ngbNav" class="nav nav-pills-mobile nav-border-anim">
            <li ngbNavItem>
              <a ngbNavLink>
                    Menu
                </a>
                <ng-template ngbNavContent>
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li>
                                <a routerLink="/">
                                    Home
                                    <span class="mmenu-btn" (click)="submenuToggle($event)"></span>
                                </a>
                                
                            </li>
                            <li *ngFor="let list of categoryList">
                                <a [routerLink]="['shop/sidebar/list/']" [queryParams]="{category: list.id,'page':1}" >
                                    {{list.name}}
                                    <span class="mmenu-btn" (click)="submenuToggle($event)"></span>
                                </a>
                                <ul>
                                    <li *ngFor="let product of productList[list.name]"><a routerLink="/product/NutrivillageProducts/{{product.id}}">{{product.name}}</a></li>
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                </ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>
                    Categories
                </a>
                <ng-template ngbNavContent>
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li  *ngFor="let list of categoryList" class="item-cats-lead"><a [routerLink]="['shop/sidebar/list/']" [queryParams]="{category: list.id,'page':1}">{{list.name}}</a></li>
                            
                        </ul>
                    </nav>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>

        <div class="social-icons">
           
            <share-buttons theme="circles-dark"
            [include]="['copy', 'facebook', 'telegram', 'twitter', 'whatsapp']"
            [showIcon]="true"
            [showText]="false"
            url={{this.liveurl}}
            description="Nutrivillage Social Media"
            twitterAccount="Nutrivillage"
            class="">
          </share-buttons>

        </div>
    </div>
</div>