<main class="main">
    <molla-page-header title="Privacy" subtitle="Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Privacy & Policy</li>
            </ol>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Privacy Policy of Nutrivillage</h1>
                    <h4>Cancellation, Return and Refund Policy
                    </h4>
                    <p>In accordance with Nutrivillage's goal of ensuring consumer satisfaction, this cancellation, return and refund Policy sets out our procedures and policies in accepting, product cancellations before the product is delivered to a user or/and product returns, once a product has been delivered to a user after purchase. Any return or cancellation of products is subject to the terms and conditions set forth in this Cancellation, Return, and Refund Policy. 
                    </p>
                </div>
            </div>  
        </div>
    </section>

</main>
